.container {
  text-align: center;
  padding: 10%;
}
  
.icon, .color {
  position: relative;
}

.icon button, .color button {
  margin:5px;
}
  
.icon_and_color {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.icon_and_color img {
  height: 89px;
  width:76px;
  position: relative;
  z-index: 1;
}

.icon_and_color img:nth-child(1) {
  height: 60px;
  width:60px;
  z-index: 2;
  position: absolute;
}